@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Login</title>
    <partial name="_Styles" />
</head>
<body class="hold-transition login-page">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#467fd0;color:white;text-align:center">
                                    <h5 class="modal-title w-100 text-center">Vendors Registration Form</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" placeholder="Name" style="height:30px;" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">Adress</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                                                <div class="col-sm-12">
                                                    <div class="form-group">

                                                        <input type="text" class="form-control" id="idno" placeholder="Street..." style="height:30px;" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">

                                                        <input type="text" class="form-control" id="idno" placeholder="Street2..." style="height:30px;" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-12">
                                                        <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="idno" placeholder="City..." style="height:30px;" autocomplete="off" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">

                                                                    <input type="text" class="form-control" id="idno" placeholder="State..." style="height:30px;" autocomplete="off" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <input type="email" class="form-control" id="email" placeholder="Zip" style="height:30px;" autocomplete="off" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" id="email" placeholder="Country" style="height:30px;" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label for="">Phone</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label for="">Mobile</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label for="">Email</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label for="">Website Link</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-sm-3">
                                                <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">

                                                            <input type="text" class="form-control" id="idno" placeholder="Phone" style="height:30px;" autocomplete="off" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">

                                                            <input type="text" class="form-control" id="idno" placeholder="Mobile" style="height:30px;" autocomplete="off" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" id="email" placeholder="Email" style="height:30px;" autocomplete="off" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" id="email" placeholder="Website Link" style="height:30px;" autocomplete="off" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="modal-body">
                                        <div class="row" style="border-radius:5px;border:1px solid #DDDDDD;padding:5px;">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="">Tax ID</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">

                                                    <input type="text" class="form-control" id="idno" placeholder="e.g BE0477472701" style="height:30px;" autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="">Tags</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">

                                                    <input type="text" class="form-control" id="idno" placeholder="Tags" style="height:30px;" autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                 </div>
                                        <div class="modal-footer" style="background-color:#467fd0;color:white;text-align:center">
                                            <button type="submit" id="register" class="btn btn-success">SAVE</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">DISCARD</button>
                                        </div>
                            </div>        
    <partial name="_Scripts" />
    <script type="text/javascript">

        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };

        $(document).ready(function () {

            $('body').css('zoom', '85%');
            $('#username').focus();
            $('#username').keyup(function () {
                var str = $(this).val();
                $('#username').val(str.toLowerCase());
            });
            $('#username').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#password').focus();
                }
            });
            $('#password').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#login').focus();
                }
            });
            $('#print').click(function () {
                window.location.href = "PosApp:TEST1234";
            });

         $('#register').click(function () {
                //alert('jquery ready')
             var name = $('#name').val();
             var iddno = $('#idno').val();
             var email = $('#email').val();
             var phone = $('#phone').val();
             var userid = $('#userid').val();
             var pass = $('#pass').val();
             var cpass = $('#cpass').val();


             if (pass != cpass) {
                 BootstrapDialog.alert({
                     title: 'Password Mismatch',
                     type: BootstrapDialog.TYPE_INFO,
                     message: 'Passwords do not match'
                 });
                 return;
             }

             if (name == '') {
                    $('#name').focus();
                    BootstrapDialog.alert({
                        title: 'Name',
                        type: BootstrapDialog.TYPE_INFO,
                        message: 'Name is required'
                    });
                    return;
                }
                else if (iddno == '') {
                    $('#idno').focus();
                    alert('ID is Required');

                    return;
             }
             else if (email == '') {
                 $('#email').focus();
                 alert('email is Required');

                 return;
             }
             else if (phone == '') {
                 $('#phone').focus();
                 alert('phone is Required');

                 return;
             }
             else if (userid == '') {
                 $('#userid').focus();
                 alert('Username is Required');

                 return;
             }
             else if (pass == '') {
                 $('#pass').focus();
                 alert('Password is Required');

                 return;
             }
             else if (cpass == '') {
                 $('#cpass').focus();
                 alert('Confirm your password');

                 return;
             }
                else {

                    swal.fire({
                        title: 'Registration in Progress Please Wait'
                    });
                    swal.showLoading();
                    axios({
                        method: 'post',
                        url: 'https://localhost:44386/webservice/users/register',
                        //auth: {
                        //    username: 'admin',
                        //    password: 'password'
                        //},
                        data: {
                            name: name,
                            iddno: iddno,
                            email: email,
                            phone: phone,
                            userid: userid,
                            pass: pass,
                        }
                    })
                        .then(function (response)
                        {
                            swal.close();



                            if (response.data.Value.returnData.Message == "Registration Successful") {
                                if (typeof (Storage) !== "undefined")
                                    sessionStorage.setItem("username", response.data.Value.returnData.Data);
                                BootstrapDialog.alert({
                                    title: 'Registration Process',
                                    type: BootstrapDialog.TYPE_INFO,
                                    message: 'Registration Successful'
                                });

                                $('#name').val('');
                                $('#idno').val('');
                                $('#email').val('');
                                $('#phone').val('');
                                $('#userid').val('');
                                $('#pass').val('');
                                $('#cpass').val('');
                                    var url = '@Url.Action("Index","Home")';
                                    window.location.href = url;

                                }
                            else {

                                BootstrapDialog.alert({
                                    title: 'Login Error',
                                    message:response.data.Value.returnData.Message
                                });
                                }


                            })
                        .catch(function (error) {
                                swal.close();
                                BootstrapDialog.alert({
                                    title: 'Login Error',
                                    message: error
                                });
                            });
                     }
            });


    </script>
</body>
</html>